.projects {
    margin-top: 50px;
    height: auto;
    text-align: center;
    overflow: hidden;

    h2 {
        font-size: 36px;
        font-family: 'lostar';
        letter-spacing: 2px;
    }

    button {
        margin-top: 20px;
    }

    .div-project {
        width: 100vw;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }
}

@media (max-width: 1050px) {

    .info {
        width: 100%;
    }

    .text {
        h1 {
            font-size: 37px;
        }

        h2 {
            font-size: 16px;
            top: 53%;
        }

        ul {
            top: 58%;
            li {
                font-size: 20px;
            }
        }
    }

    .image {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 768px) {

    .text {
        width: 100%;
        text-align: center;

        h1 {
            font-size: 32px;
            text-align: center;
            position: inherit;
            transform: none;
            top: 30%;
        }

        h2 {
            text-align: center;
            position: inherit;
            transform: none;
            top: 33%;
        }

        ul {
            top: inherit;
            position: inherit;
            justify-content: center;
            align-items: center;
           
        }
    }

    .image {
        display: none;
    }

    .about {
        display: block;
        height: auto;
        margin-bottom: 50px;

        .ft {
            height: 300px;
            width: min-content;
            margin: 0 auto;
        }

        .text-describe {
            width: 100vw;
            margin: 50px auto 0px auto;
            height: auto;
            overflow: hidden;
        }

        img {
            width: 300px;
            height: 300px;
            margin: 10px auto;
        }
    }
}