:root {
  background-color: #f2efe6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: lostar;
  src: url(./fonts/Lostar.ttf);
}

@font-face {
  font-family: phudu;
  src: url(./fonts/Phudu-VariableFont_wght.ttf);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'phudu';
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li{
  text-decoration: none;

}