@import 'app/globals.scss';

.container-proj{
    display: flex;
    margin-top: 80px;
}

.cardP {
    width: 235px;
    height: auto;
    border: 2px solid $primary;
    margin: 0px 10px;
    border-radius: 10px;
    padding: 16px;
    float: left;

    .text-h3 {
        margin-top: 20px;
        letter-spacing: 2px;
    }

    p {
        text-align: left;
        margin-top: 20px;
    }
}

.img-project {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 3px solid $primary;
}

.text-desc {
    text-align: left;
    margin-left: 50px;

    h3 {
        font-family: 'phudu';
        margin-top: 15px;
        font-size: 24px;
    }

    p {
        margin-top: 20px;
        font-size: 20px;
    }

    .icones {
        margin-top: 20px;
        display: flex;

        img {
            margin-right: 30px;
        }
    }

    .buttons{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
}